<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/app.min.css?{php echo md5_file(__DIR__ . '/../../../www/css/app.min.css')}">
	<title>Evidencia zamestnancov</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#112d53">
	<link rel="shortcut icon" href="/img/favicon.ico">
	<meta name="msapplication-TileColor" content="#112d53">
	<meta name="msapplication-config" content="/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" n:href="Employee:list"><i class="fas fa-user-cog"></i> HR</a>
		<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</header>
	{include content}

	<script src="/js/app.min.js?{php echo md5_file(__DIR__ . '/../../../www/js/app.min.js')}"></script>
	{snippet flashes}
	<script n:inner-foreach="$flashes as $flash">
		toastr.{$flash->type|noescape}({$flash->message});
	</script>
	{/}
</body>
</html>
