/vendor/*
/config/*
/log/*
/temp/*
/node_modules
/tests/
/upload/*
/www/js/*
/www/webfonts/*
/www/css/*
.sass-cache
/nette-cs
/code-checker

!web.config
!.htaccess
!files/.htaccess
!files/web.config
!config/common.neon
!config/services.neon
